{% extends 'header.html' %}{% block content %}

<div class="container py-3">
  <div class="d-flex w-100 justify-content-center">
    <h1>Borrar Autor</h1>
  </div>
  <form method="post" id="form">
    <input type="hidden" name="_csrf_token" value="{0}" />
    <label for="nombre" class="form-label">Nombre:</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      value="{{ autor.nombre }}"
      readonly
    />
    <span id="nombre-error" class="text-danger my-2"></span>
    <br />
    <label for="apellido" class="form-label">Apellido:</label>
    <input
      type="text"
      id="apellido"
      class="form-control"
      name="apellido"
      value="{{ autor.apellido }}"
      readonly
    />
    <span id="apellido-error" class="text-danger my-2"></span>
    <br />
    <label for="nacionalidad" class="form-label">Nacionalidad:</label>
    <input
      type="text"
      id="nacionalidad"
      name="nacionalidad"
      class="form-control"
      value="{{ autor.nacionalidad }}"
      readonly
    />
    <br />
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="activo"
        name="activo"
        value="True"
        {%
        if
        autor.activo
        %}
        checked
        {%
        endif
        %}
        disabled
      />
      <label class="form-check-label" for="activo">Activo</label>
      <br />
      <span class="my-3 text-danger"> * Los campos no son editables </span> 
      <br/>
      <span class="my-3 text-danger">
        * Al eliminar este Autor, eliminaras todos los registros que esten vinculados. Ver las siguientes listas:</span><br />
    </div>
    <div class="d-flex w-100 justify-content-center">
      <h1>Libros registrados por este autor</h1><br>
    </div>
      
    <div>
      
            <table class="table my-3">
             
              <thead>
                <tr>
                  <th>Libro</th>
                  <th>Descripcion</th>
                  <th>ISBN</th>
              </tr>
              </thead>
            <tbody>
              {% for libro in libros %}
              <tr>
                
                <td>
                  {% if libro.autor.id == autor.id %}
                      {{ libro.titulo }}
                  {% endif %}
                </td>

                <td>
                  {% if libro.autor.id == autor.id %}
                    {{ libro.descripcion }}
                  {% endif %}
              </td>
                <td>
                  {% if libro.autor.id == autor.id %}
                    {{ libro.isbn }}
                  {% endif %}
                </td>
               
              </tr>
              {% endfor %}
            </tbody>
            </table>
          
      <div class="d-flex w-100 justify-content-center">
          <h1>Prestamos de los libros de este Autor </h1><br>
        </div>
      <div>
              <table class="table my-3">
                <thead>
                  <tr>
                    <th>Libro</th>
                    <th>Empleado</th>
                    <th>Socio</th>
                    <th>Fecha Prestamo</th>
                    <th>Fecha Devolucion</th>
                </tr>
                </thead>
              <tbody>
            {% for prestamo in prestamos %}
              {% if prestamo.libro.autor.id == autor.id %}
                <tr>
                  <td>
                    {% for libro in libros %}
                    {% if libro.id == prestamo.libro.id %}
                      {{prestamo.libro.titulo}} ({{prestamo.libro.autor.nombre}} {{prestamo.libro.autor.apellido}}) <br>
                      ISBN: {{prestamo.libro.isbn}}
                    {% endif %}
                {% endfor %}
                  </td>
                  <td>
                    {% for empleado in empleados %}
                      {% if empleado.id == prestamo.empleado.id %}
                        {{prestamo.empleado.nombre}} {{prestamo.empleado.apellido}} <br> N° de Legajo: {{prestamo.empleado.numero_legajo}}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                  {% for socio in socios %}
                      {% if socio.id == prestamo.socio.id %}
                        {{prestamo.socio.nombre}} {{prestamo.socio.apellido}} 
                      {% endif %}
                  {% endfor %}
                </td>
                  <td>{{ prestamo.fecha_prestamo }}</td>
                  <td>{{ prestamo.fecha_devolucion }}</td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
              </table>
          
          </div>
    <input id="button" class="btn btn-success" type="submit" value="Borrar" />
    <div class="mt-2">
      <a class="btn btn-primary text-light" class="" href="/home/autores">
        Volver
      </a>
    </div>
  </form>
  <script>
    var form = document.getElementById("form");
    var button = document.getElementById("button");
    let empty;
    form.addEventListener("input", function () {
      empty = Array.from(form.elements).some(function (element) {
        span = document.getElementById(`${element.id}-error`);
        if (element.value === "") {
          span.innerText = "Campo vacío";
        }
        return element.value === "";
      });
      button.disabled = empty;
    });
  </script>
</div>
{% endblock %}
