{% extends 'header.html' %}{% block content %}

<div class="container py-3">
  <div class="d-flex w-100 justify-content-center">
    <h1>Actualizar Empleado</h1>
  </div>
  <form method="post" id="form">
  <input type="hidden" name="_csrf_token" value="{0}">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ empleado.nombre }}" />
    <span id="nombre-error" class="text-danger my-2"></span>
    <br />
    <label for="apellido" class="form-label">Apellido:</label>
    <input
      type="text"
      id="apellido"
      class="form-control"
      name="apellido"
      value="{{ empleado.apellido }}"
    />
    <span id="apellido-error" class="text-danger  my-2"></span>
    <br />
    <label for="nlegajo"  class="form-label">Nº de Legajo:</label>
    <input
      type="number"
      id="nlegajo"
      name="nlegajo"
      class="form-control"
      value="{{ empleado.numero_legajo }}"
      readonly
    />
    <br />
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="activo" name="activo" value="True" {% if empleado.activo %}checked{% endif %} />
      <label class="form-check-label" for="activo" >Activo</label>
    <br />
    </div>
    <input id="button" class="btn btn-success" type="submit" value="Actualizar" />
    <div class="mt-2 ">
      <a class="btn btn-primary text-light" class="" href="/home/empleados">
        Volver
      </a>
    </div>
  </form>
  <script>
    var form = document.getElementById("form")
    var button = document.getElementById("button")
    let empty;
    form.addEventListener('input', function() {
      empty = Array.from(form.elements).some(function(element) {
        span = document.getElementById(`${element.id}-error`)
        if(element.value === ""){
          span.innerText = "Campo vacío"
        }
        return element.value === '';
      })
      button.disabled = empty;
    }) 

  </script>
    
</div>
{% endblock %}
