{% extends 'header.jinja2' %}{% block content %}

<div class="container py-3">
  <div class="d-flex w-100 justify-content-center">
    <h1>Actualizar Autor</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ empleado.nombre }}" />
    <br />
    <label for="apellido" class="form-label">Apellido:</label>
    <input
      type="text"
      id="apellido"
      class="form-control"
      name="apellido"
      value="{{ empleado.apellido }}"
    />
    <br />
    <label for="nlegajo"  class="form-label">Nº de Legajo:</label>
    <input
      type="text"
      id="nlegajo"
      name="nlegajo"
      class="form-control"
      value="{{ empleado.nacionalidad }}"
    />
    <br />
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="activo" name="activo" value="True" {% if empleado.activo %}checked{% endif %} />
      <label class="form-check-label" for="activo" >Activo</label>
    <br />
    </div>
    <input class="btn btn-success" type="submit" value="Actualizar" />
  </form>
</div>
{% endblock %}
