<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Biblioteca App
      {% endblock title %}
    </title>
    <link rel="stylesheet" href='{{ static("css/bootstrap.css") }}'>
    <link rel="stylesheet" href='{{ static("css/header.css") }}'>
    {% block link %}
    {% endblock link %}
  </head>
  <body>
    <header class="bg-dark">
      <div class="d-flex w-100 py-3 container">
        <div class="w-25">
          <a class="text-decoration-none" href="/home">
            <h1 class="text-light">
              {% block heading %}
                Biblioteca App
              {% endblock heading %}
            </h1>
          </a>
        </div>
        <div class="w-75">
          <nav class="h-100 w-100">
            <div class="d-flex justify-content-end align-items-center w-100 h-100">
              <a class="mx-2 btn btn-primary text-light boton" href="/home/autores">Autores</a>
              <a class="mx-2 btn btn-primary text-light boton" href="/home/libros">Libros</a>
              <a class="mx-2 btn btn-primary text-light boton" href="/home/socios">Socios</a>
              <a class="mx-2 btn btn-primary text-light boton" href="/home/empleados">Empleados</a>
              <a class="mx-2 btn btn-primary text-light boton" href="/home/prestamos">Prestamos</a>
              <a class="mx-2 btn btn-primary text-light boton" href="/home/historial">Historial</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
  <div class="containter">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <footer class="blockquote-footer">
        Todo los derechos reservados &copy; 2023
        <br>
        Desarrollado por <a href="#">Equipo 5 Escuadron 2</a>
      </footer>
    </blockquote>
  </div>
</div>
</html>
