{% extends 'header.jinja2' %} {% block content %}
<div class="jumbotron container py-5">
  <h1 class="display-4">BIENVENIDO A NUESTRO TRABAJO INTEGRADOR!</h1>
  <p class="lead">
    Diseñado para tener controlado los principales aspectos de una biblioteca y sus registros para un dar un servicio de calidad a los nuestros socios.
  </p>
  <hr class="my-4" />
  <p>
    Principales funciones para:
  </p>
  <div class="d-flex flex-wrap  align-items-center">
    <div class="w-50">
      <h2><b>Empleados</b></h2>
      <ul>
        <li>Ver el listado de registros de Empleados</li>
        <li>Actualizar un registro</li>
        <li>Agregar un registro</li>
        <li>Eliminar un registro</li>
      <ul>
    </div>
    <div  class="w-50">
      <h2><b>Libros</b></h2>
      <ul>
        <li>Ver el listado de registros de Libros</li>
        <li>Actualizar un registro</li>
        <li>Agregar un registro</li>
        <li>Eliminar un registro</li>
      <ul>
    </div>
    <div  class="w-50">
      <h2><b>Socios</b></h2>
      <ul>
        <li>Ver el listado de registros de Socios</li>
        <li>Actualizar un registro</li>
        <li>Agregar un registro</li>
        <li>Eliminar un registro</li>
      <ul>
    </div>
    <div  class="w-50">
      <h2><b>Autores</b></h2>
      <ul>
        <li>Ver el listado de registros de Autores</li>
        <li>Actualizar un registro</li>
        <li>Agregar un registro</li>
        <li>Eliminar un registro</li>
      <ul>
    </div>
  </div>
</div>
{% endblock %}