{% extends 'header.html' %} {% block content %}
<div class="container my-5">
  <h1 class="text-center">Crear Nuevo Empleado</h1>

  <form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    {{form}}
    <div class="my-2">
      <h4 class="text-danger my-2">{{mensaje}}</h4>
      <button
        class="btn btn-success"
        type="submit"
        onclick="window.location.href='
      >
        Crear
      </button>
    </div>
  </form>
  <div class="mt-2">
    <a class="btn btn-primary text-light" class="" href="">
      Volver
    </a>
  </div>
</div>
{% endblock %}
